*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    display: flow-root;
    align-content: center;
    height: 10vh;
    background-color: rgb(255, 250, 244);
}
nav img{
    position: absolute;
    margin-left: 20px;
}
nav ul{
    margin-right: 10vh;
    align-content: center;
    position: relative;
    left: 100px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin-top: 10px;
    float: left;
}
.right a{
    margin-left: 45vw;
    color: blue;
}
.more a {
    color: rgb(186, 123, 5);
}
nav ul li a{
    text-decoration: none;
    margin: 0.5em;
    color: black;
    padding: 0.5em;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
main{
    width: 100%;
}
.bar-section ul{
    padding: 10px;
}
.bar-section{
    position: sticky;
    top: 0;
    border: 1px solid black ;
    background-color: white;
    z-index: 2;
    
}
.bar-section ul li{
    margin: 0.5vw;
    display: inline;
}
.bar-section ul li a{
    text-decoration: none;
    margin: 0.5em;
    color: black;
    padding: 0.5vw;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hero-section{
    background-image: url(../imgs/hero_section.avif);
    height: 100vh;
    align-content: center;
    margin: 0 8vw 8vw;
    background-repeat: no-repeat;
    background-size: 100% 100vh ;
}

.hero-section h2{
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
    color: rgb(253, 89, 72);
}

.hero-text{
    margin-top: 25vh;
    align-content: center;
}
.body-text{
    width: 50%;
    margin: 0 auto;
}
.body-text h3{
    font-size: 25px;
    margin-bottom: 5vh;
}
.body-text h3 a{
    color: blue;
}
.collage{
    margin-top: 25vh;
    position: relative;
    padding: 8vw;
    height: 100vh;
}
.collage-back{
    background-color: #FBFFA7;
    width: 60vw;
    height: 50vw;
    position: absolute;
    top: 0;
    right: 0;
}
.collage-back .right-image{
    position: relative;
    width: 30vw;
    height: 17vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.left-image{
    position: absolute;
    width: 35vw;
    height: 35vw;
    top: 10%;
    margin-left: 1vw ;
    z-index: 1;
}

.collage2{
    margin-top: 25vh;
    position: relative;
    padding: 8vw;
    height: 150vh;
}

.collage2 .collage-back{
    background-color: lightgreen;
    width: 60vw;
    height: 50vw;
    position: absolute;
    top: 0;
    left: 0;
}

.collage2 .left-image1 , .left-image2{
    position: relative;
    width: 30vw;
    height: 20vw;
    top: 0;
    left: 20%;
    margin-top: 3vh;
}

.collage2 .right-image{
    position: absolute;
    right: 10%;
    width: 35vw;
    height: 35vw;
    top: 10%;
    margin-left: 1vw ;
    z-index: 1;
}
footer{
    margin: 0 10%;
    padding: 100px;
    margin-bottom: 10vh;
}

footer img{
    width: 188px;
    left: 0;
    margin-top: 2%;
    margin-bottom: 5%;
}
.first-footer-section{
    float: left;
    width: 20vw;
    font-size: 18px;
}

.first-footer-section ul li{
    list-style: none;
    margin-top: 10px;
}
.first-footer-section a{
    text-decoration: none;
    color: gray;
}
.education-footer{
    float: left;
    margin-left: 40px;
    width: 20vw;
    font-size: 18px;
}

.education-footer ul li{
    list-style: none;
    margin-top: 10px;
}
.education-footer a{
    text-decoration: none;
    color: gray;
}
.email-footer{
float: right;
width: 20vw;
font-size: 18px;
}
.email-header{
    font-weight: bold;
    font-size: 1em;
}

.email-footer .email-body{
    padding-top: 20px;
    font-weight: lighter;
    color: gray;
}
.email-footer input{
    margin-top: 10px;
    padding: 10px 20px;
}
.email-footer button{
    border: 0;
    background-color: blue;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}
.community{
    margin-top: 2vh;
    float: left;
    width: 20vw;
    font-size: 18px;
}
.community-header{
    font-weight: bold;
    font-size: 18px;
}
.community ul li{
    list-style: none;
    margin-top: 10px;
}

.community a{
    text-decoration: none;
    color: gray;
}

.language-and-location {
    float: left;
    margin-left: 40px;
    width: 20vw;
    font-size: 18px;
    margin-top: 2vh;
}
.language-and-location-header{
    font-weight: bold;
    font-size: 18px;
}

.language-and-location select{
    border: 0;
    margin-top: 10px;
    padding: 10px 20px;
}

.last-footer{
    float: left;
}
.last-footer ul{
    margin-top: 10vh;
    
    
}
.last-footer ul li{
    padding: 10px;
    display: inline;
    list-style: none;
}
.last-footer a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: bold;
}
.last-list-footer{
    margin-left: 15vw;
}
.clear{
    clear: both;
}
