*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li,a,button{
    text-decoration: none;
    cursor: pointer;
}
body{
    overflow-x: hidden;
}
/*---------------Header and Nav Part---------------------*/


header nav{
    display: flex;
    align-items: center;
    padding: 10px 5%;
    justify-content:space-between; 
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: white;
    top: 0;
    left: 0;
}
header ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 10px;
    width: 90%;
    font-size: large;
    font-weight: bold;
}

header ul li{
    list-style: none;
    display: inline-block;
    padding: 0.6rem;
    transition: background-color 0.7s ease;
}
header ul .right-button{
    margin-left: auto;
}
header nav button{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: blue;
    color: white;
    font-size: larger;
    box-shadow: 0px black;
    transition: box-shadow 0.7s ease;
}
header nav button:hover{
    box-shadow: 2px 2px 4px black;
}
.logo-img{
    display: inline-block;
    width: auto;
    height: auto;
}

/*-------------------------End of Nav and header part ------------------------*/
/*-------------------------Start of Hero Section------------------------------*/
main{
    margin-top: 10%;
    position: relative;
}

.hero-section{
    padding: 10vh 0;
    width: 90%;
    margin: auto;
}

.hero-grid{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: center; */
    /* justify-content: center; */
    /* gap: 20vw; */
    /* width: fit-content; */
    /* margin:0 auto; */
}

.background-img img{
    z-index: -2;
    position:absolute;
    left: -10%;
    width: 20%;
    height: 40%;
}
.hero-text{
    display: flex;
    flex-direction: column;
    gap: 10vh;
    font-size: 1.5rem;
    position: relative;
}
.hero-video video{
    width: 120%;
    border-radius: 50px;
}

.arrow{
    position: absolute;
    bottom: -35%;
    left: 35%;
    transform: rotate(10deg);
    z-index: -1;
}

.highlight-color-3,.highlight-color-4,.highlight-color-5{
    position: relative;
}
.highlight-shape{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.hero-buttons{
    position: absolute;
    display: flex;
    gap: 3vw;
    bottom: 0;
    left: 10%;
}

.hero-buttons button{
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: aliceblue;
    font-size: larger;
}

/*----------------------------------End of Main section----------------------------------*/
/*-----------------------------------Start of slider partnership section------------------------*/
.slider-partnership{
    margin-top: 10vh;
    width: 100%;
}
.slider-partnership p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.slider-container{
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

.slider-container:before,.slider-container:after{
    position: absolute;
    top: 0;
    height: 100%;
    width: 10%;
    content: "";
    z-index: 1;
}
.slider-container:before{
    left: 0;
    background: linear-gradient(to left,rgba(255, 255, 255, 0),white);
}
.slider-container:after{
    right: 0;
    background: linear-gradient(to right,rgba(255, 255, 255, 0),white);
}
.slider-track img{
    height: 40px;
    margin: 0 40px;
}
.slider-track{
    display: inline-block;
    animation: 50s slide infinite linear;
}



@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
/*-----------------------------------End of partnership section------------------------*/

/*-------------------------------------Start of What we do section --------------------*/
.what-we-do {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.what-we-do h3{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.what-we-do p#what-we-paragraph{
    text-align: center;
}

/* container */
.what-we-do-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}
.what-we-do-buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom:20px ;
}
.tab{
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    background-color: white;
    border: 3px solid black;
    transition: background-color 0.7s ease , box-shadow 0.5s ease;
    text-align: left;
    width: 30%;
    display: flex;
}
.tab span{
    margin-left: auto;
}

.tab.active {
    background-color: #5b00f7;
    color: #fff;
}
.tab:hover:not(.tab.active) {
    background-color: #955cf8;
    color: white;
    box-shadow: 2px 2px 4px #000000;
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.service {
    padding: 20px;
}
.service h4 {
    font-size: 1.25rem;
    margin-bottom: 2vh;
}

.service p {
    color: gray;
    font-size: 1rem;
    line-height: 1.5;
}
/*-------------------------------------End of What we do section ----------------------*/
/*-------------------------------------Start of Ads section ---------------------------*/
.ads-section{
    background: linear-gradient(90deg, #0d1936, #14264f);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    width: 60%;
    margin: 0 auto;
}
.ads {
    text-align: center;
    color: #fff;
}

.ads h2 {
    font-size: 2rem;
    margin-bottom: 1vh;
}

.ads p {
    margin-bottom: 2vh;
    font-size: 1rem;
}
.ads-button {
    background-color: #ffcc32;
    color: #000;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
}
.ads-arrow img{
    position: absolute;
    right: 24%;
    bottom: 0;
}

/*-------------------------------------End of Ads section ---------------------------*/

