:root{
    --main-section-color: #ffc700;
    --footer-color:#0fa958;
    --hero-height: 150vh;
    --header-height: 10vh;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F2F2F2;
    overflow-x: hidden;
}
li,a,button{
    text-decoration: none;
    cursor: pointer;
}
/*---------------Header and Nav Part---------------------*/
header nav{
    display: flex;
    align-items: center;
    min-height: var(--header-height);
    background-color: var(--main-section-color);
    padding: 0 20px;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header ul li{
    list-style: none;
    display: inline-block;
    padding: 0.6rem;
    transition: background-color 0.7s ease;
}
header ul li ,#header-country-select {
    border-radius: 25px;
    padding: 5px 20px;
    background-color: var(--main-section-color);
}
header ul li:not(.header-country-select):hover{
    background-color: black;
    color: white;
}
header ul li:not(.header-country-select){
    border: 2px solid black;
}
#menu-button{
    display: none;
}
/*---------------Header END-------------------------*/

/*---------------Main Part--------------------------*/
.hero-section{
    padding: 20px;
    padding-top: calc(var(--header-height) + 5vh);
    max-height: var(--hero-height);
    background-color: var(--main-section-color);
    display: flex;
    column-gap: 5rem;
}
.hero-img{
    position: relative;
}

.hero-section img{
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}
.img1::after{
    content: "Figma Doodle Socks";
}
.img2::after{
    content: "Chunky Glyph Tee";
}
.img3::after{
    content: "Chunky Glyph Longsleeve";
}
.hero-img::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    padding: 10px 30px;
    border-radius: 25px;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 18px;
    cursor: pointer;
}

.hero-img:hover::after {
    opacity: 1;
}

.img1 img{
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
.img2 img{
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.img3 img{
    border: 0px solid ;
    border-radius: 20%;
}
/* ---------------------------END MAIN------------------------- */


/* ---------------------------Store List Part------------------ */
.store-list{
    min-height: 400vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
/* ---------------------------Text Part------------------------ */
.text{
    width: 70%;
    cursor: default;
    text-align: center;
}
.text h2{
    width: 100% ;
    font-size: 0;
    min-width: 20vw;
}
.text h2 span {
    display: inline-block;
    font-size: 50px;
    transition: color 0.8s ease-in-out;
}
.text h2 span a{
    text-decoration: underline;
    color: black;
    
}
.text:hover h2 span:not(a){
    color: rgba(0, 0, 0, 0.5);
}
.text h2 span:nth-child(1):after {
    padding: 0 1rem;
    content: url("../img/store_list_section/text1.svg");
}
.text h2 span:nth-child(2):after {
    padding: 0 1rem;
    content: url("../img/store_list_section/text2.svg");
}
.text h2 span:nth-child(3):after {
    content: "";
    padding: 0 0.5rem;
}
.text h2 span:nth-child(4):after {
    padding: 0 1rem;
    content: url("../img/store_list_section/text3.svg");
}
.text h2 span:nth-child(5):after {
    padding: 0 1rem;
    content: url("../img/store_list_section/text4.svg");
}
.text h2 span:nth-child(6):after {
    padding: 0 1rem;
    content: url("../img/store_list_section/text5.svg");
}
.text h2 span:nth-child(7):after {
    padding: 0 .5rem;
    content: "";
}
.text h2 span:nth-child(8):after {
    padding: 0 1rem;
    content: url("../img/store_list_section/text6.svg");
}
.text h2 span:nth-child(9):after {
    padding: 0 1rem;
    content: url("../img/store_list_section/text7.svg");
}
.text h2 span:nth-child(10):after {
    padding: 0 1rem;
    content: url("../img/store_list_section/text8.svg");
}

/* ---------------------------END Text------------------------ */

.grid-parent{
    display: grid;
    grid-template-columns: (4, 8fr);
    gap: 2rem;
    grid-auto-columns: minmax(15rem , auto);
    grid-template-areas: 
    " item1 item2 item3 item4"
    " item5 item6 item7 item7"
    " item8 item8 item7 item7"
    " item8 item8 item9 item10";
    min-height: 350vh;
    padding: 10rem;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}
.grid-item {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    position: relative;
}

.grid-item img{
    width: 100%;
    height: 80%;
    border: 0px solid ;
    border-radius: 10%;
    object-fit: cover;
}
/*---------------- Image Animation Part ------------------------*/
.grid-item img.hover-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    border-radius: 10%;
    object-fit: fill;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.grid-item img.hover-image:hover{
    opacity: 1;
    border: 4px solid black;
}

.grid-item .text{
    display: flex;
    width: 100%;
    margin-top: 3vh;
}
.grid-item .text p{
    margin-right: auto;
}
.grid-item .text span{
    margin-left: auto;
}
.grid-item .text p,
.grid-item .text span {
    font-size: 1.3rem;
}
.grid-item .text p{
    font-weight: bold;
}
.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item4 {
    grid-area: item4;
}

.item5 {
    grid-area: item5;
}

.item6 {
    grid-area: item6;
}

.item7 {
    grid-area: item7;
}

.item8 {
    grid-area: item8;
}

.item9 {
    grid-area: item9;
}

.item10 {
    grid-area: item10;
}
/* --------------------------- END Store List ------------------ */


/* --------------------------- Footer ---------------------- */
.main-footer{
    background-color: var(--footer-color);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 60vh;
}
.main-footer a{
    list-style: none;
    color: black;
    display: inline-block;
    position: relative;
    text-decoration: none;
}
.main-footer a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: black; 
    opacity: 0; /* Hide the underline */
    /*We can use transform also*/
    /*transform: scaleX(0)*/
    transition: opacity 0.3s ease-in-out;
}
.main-footer a:hover::after{
    /*We can use transform also*/
    /*transform: scaleX(1)*/
    opacity: 1;
    text-decoration: underline;
}
.top-footer-list{
    display: flex;
    width: 70%;
    margin: 0 auto;
    column-gap: 5rem;
    height: 70%;
    padding-top: 5vh;
}
.top-footer-list li{
    list-style: none;
    color: black;
    padding: .8rem;
    cursor: default;
}
.top-footer-list li :not(a){
    list-style: none;
    color: black;
    padding: .5rem;
}

.top-footer-list h3{
    font-size: 25px;
    max-width: min-content;
    margin-left: 20px;
}

.top-footer-list li p{
    display: block;
}
.top-footer-list li b:hover{
    color: blue;
    cursor: pointer;
}
.top-footer-list li img{
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    height: auto;
    width: 150%;
}
.Policies{
    min-width: 10vw;
}
.mid-footer li{
    list-style: none;
    color: white;
    padding: .5rem;
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
}
/* -------------------------- END Footer ------------------- */


/*------------------ Mobile Phone Part ---------------------------------------*/
@media(width<768px){
    /*---------------------------------- Header and Nav ------------------*/
    .menu-button,
    #menu-button{
        display: inline-block;
    }
    header ul li{
        padding: 0.6rem;
    }
    .menu-button{
        cursor: pointer;
    }
    .menu-button div{
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 1px 0px;
    }
    #menu-button:hover .menu-button div{
        background-color: white;
    }
    .left-list ul li:nth-child(2),
    .left-list ul li:nth-child(3)
    {
        display: none;
    }
    .right-list ul li:nth-child(2),
    .left-list ul li:nth-child(3)
    {
        display: none;
    }
    /*------------------------- End Header and Nav ---------------------*/
    .text h2 span{
        margin-top: 20px;
        font-size: 25px;
    }
    .text h2 span:nth-child(1):after,
    .text h2 span:nth-child(2):after,
    .text h2 span:nth-child(4):after,
    .text h2 span:nth-child(5):after,
    .text h2 span:nth-child(6):after,
    .text h2 span:nth-child(8):after,
    .text h2 span:nth-child(9):after,
    .text h2 span:nth-child(10):after
    {
        display: inline-block;
        height: auto; 
        transform: scale(0.7); 
    }
        /*------------------ Hero Section -------------------*/
        .hero-section{
            align-items: center;
            justify-content: center;
        }

        .hero-section img{
            height: 50dvh;
        }
        .hero-section .img1,
        .hero-section .img2
        {
            display: none;
        }
        /*------------------- Store list Section ----------------------*/
        .grid-parent{
            grid-template-columns: (2, 8fr);
            grid-auto-rows: auto ;
            grid-template-areas: 
            " item1 item2"
            " item3 item4"
            " item5 item6"
            " item7 item7"
            " item8 item8"
            " item9 item10";
            transform: scale(0.8);
            transition: 0.3s ease-in-out;
        }
        /*------------------ Footer ----------------------------------*/
        .main-footer{
            min-height: 100dvh;
        }
        .top-footer-list li img{
            width: 60%;
        }
        .top-footer-list{
            display: flex;
            flex-wrap: wrap;
        }
}

@media(768px<width<1090px){
    .menu-button,
    #menu-button{
        display: inline-block;
    }
    .menu-button{
        cursor: pointer;
    }
    .menu-button div{
        width: 20px;
        height: 3px;
        background-color: black;
        margin: 1px 0px;
    }
    #menu-button:hover .menu-button div{
        background-color: white;
    }
    .left-list ul li:nth-child(2),
    .left-list ul li:nth-child(3)
    {
        display: none;
    }
    .right-list ul li:nth-child(2),
    .left-list ul li:nth-child(3)
    {
        display: none;
    }
    /*------------------------- End Header and Nav ---------------------*/
    /*------------------- Store list Section ----------------------*/
    .text h2 span{
        margin-top: 20px;
        
    }
            .grid-parent{
                grid-template-columns: (3, 8fr);
                grid-template-areas: 
                " item1 item2 item3"
                "item4 item5 item6"
                " item7 item7 item7"
                " item8 item9 item10";
                transform: scale(0.9);
                transition: 0.3s ease-in-out;
            }
                    /*------------------ Footer ----------------------------------*/
        .main-footer{
            min-height: 100dvh;
        }
        .top-footer-list li img{
            width: 60%;
        }
        .top-footer-list{
            display: flex;
            flex-wrap: wrap;
        }
}